<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-input type="text" [(ngModel)]="encodeText"></ion-input>
    <button ion-button="" [block]="" (click)="encode()">Encode</button>
  </div>

  <div>
    <button ion-button="" [block]="" (click)="scan()">Scan</button>
    <div *ngIf="scannedData.text">
      <label for="">Your bar code is</label>
      <br>
      <span>{{scannedData.text}}</span>
    </div>
  </div>
</ion-content>
